<!doctype html>
<html lang="en">
<head>
    <title>CloudBag - Almacena esta ⠀⠀⠀⠀⠀⠀⠀⠀ información</title>
    <link rel="stylesheet" href="/css/Home.css">
    <%- include('../partials/_header') %>
</head>
<body>
<%- include('../partials/_navbar') %>

<main>
    <div id="SelectFromDiv">
        <div id="SendFilesFromPhone" class="SelectFrom">
            <a href="/SendFromPhone" class="SelectFromLinks">
                SEND FILES FROM PHONE/NON-SERVER PC TO SERVER PC
                <svg width="791" viewBox="0 0 791 523" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <rect width="791" height="523" fill="#45B467"/>
                    <rect id="phone-to-PC-transfer" width="791" height="469" fill="url(#pattern0)"/>
                    <g id="Arrow21">
                        <circle id="Ellipse 21" cx="0" cy="0" r="225" fill="#C4C4C4" fill-opacity="0.01"/>
                        <path id="Arrow21_2" d="M597.531 106.56L613.362 140.809L635.067 110.394L597.531 106.56Z" fill="white"/>
                    </g>
                    <g id="Arrow11">
                        <path id="Arrow11_2" d="M338.364 120.915L376.084 121.553L358.132 88.7834L338.364 120.915Z" fill="white"/>
                        <circle id="Ellipse 11" cx="0" cy="0" r="225" fill="#C4C4C4" fill-opacity="0.01"/>
                    </g>

                    <defs>
                        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_0_1" transform="scale(0.00126422 0.0021322)"/>
                        </pattern>
                        <image id="image0_0_1" data-name="pc-to-phone-transfer.png" width="791" height="469" href="/Images/pc-to-phone-transfer.png"/>
                    </defs>
                </svg>
                <p>Send Files/Photos from any device in your Network to Server PC (i.e. the PC running CloudBagDrop).</p>
            </a>
        </div>
        <div id="SendFilesFromPC" class="SelectFrom">
            <a href="/SendToCloudBag" class="SelectFromLinks">
                SEND FILES FROM THE SERVER PC TO CloudBag
                <svg width="791" viewBox="0 0 791 523" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <rect width="791" height="520" fill="#FFB367"/>
                    <rect id="pc-to-CloudBag-transfer" width="791" height="469" fill="url(#pattern1)"/>
                    <g id="CloudBag2">
                        <line id="CenterDownn2" x1="454.033" y1="123.5" x2="518.033" y2="123.5" stroke="#FF8000" stroke-width="3"/>
                        <line id="CenterDown2" x1="434.033" y1="101.5" x2="539.033" y2="101.5" stroke="#FF8000" stroke-width="3"/>
                        <line id="CenterLine2" x1="427" y1="73.5" x2="547.067" y2="73.5" stroke="#FF8000" stroke-width="3"/>
                        <line id="CenterUp2" x1="434.033" y1="45.5" x2="539.038" y2="45.5" stroke="#FF8000" stroke-width="3"/>
                        <line id="CenterUpp2" x1="454.029" y1="25.5" x2="518.029" y2="25.5" stroke="#FF8000" stroke-width="3"/>
                        <circle id="Circle2" cx="487.033" cy="74" r="58.5" fill="white" fill-opacity="0.47" stroke="#FF8000" stroke-width="3"/>
                    </g>
                    <g id="Arrow2">
                        <path id="Arrow2_2" d="M300.984 131.324L327.881 157.776L337.45 121.657L300.984 131.324Z" fill="white"/>
                        <circle id="Ellipse2" cx="0" cy="0" r="225" fill="#C4C4C4" fill-opacity="0.01"/>
                    </g>
                    <defs>
                        <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_0_2" transform="scale(0.00126422 0.0021322)"/>
                        </pattern>
                        <image id="image0_0_2" data-name="pc-to-CloudBag-transfer.png" width="791" height="469" href="/Images/pc-to-CloudBag-transfer.png"/>
                    </defs>
                </svg>
                <p>Send Files/Photos from any Device (including Server PC) to the CloudBag. CloudBag is a shared space for all the devices on your local Network. Any device which is logged in with server password can access files saved in CloudBag.</p>
            </a>
        </div>
        <div id="GetFilesFromPC" class="SelectFrom">
            <a href="/GetFromPC" class="SelectFromLinks">
                GET FILES FROM THE CloudBag
                <svg width="791" viewBox="0 0 791 523" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <rect width="791" height="523" fill="#8CDDFF"/>
                    <rect id="CloudBag-to-phone-transfer" width="791" height="469" fill="url(#pattern2)"/>

                    <g id="Arrow3">
                        <path id="Arrow3_2" d="M558.275 107.895L595.605 102.454L572.613 73.0008L558.275 107.895Z" fill="white"/>
                        <circle id="Ellipse3" cx="0" cy="0" r="225" fill="#C4C4C4" fill-opacity="0.01"/>
                    </g>
                    <g id="CloudBag3">
                        <line id="CenterDownn3" x1="454.033" y1="123.5" x2="518.033" y2="123.5" stroke="#00BE9C" stroke-width="3"/>
                        <line id="CenterDown3" x1="434.033" y1="101.5" x2="539.033" y2="101.5" stroke="#00BE9C" stroke-width="3"/>
                        <line id="CenterLine3" x1="427" y1="73.5" x2="547.067" y2="73.5" stroke="#00BE9C" stroke-width="3"/>
                        <line id="CenterUp3" x1="434.033" y1="45.5" x2="539.038" y2="45.5" stroke="#00BE9C" stroke-width="3"/>
                        <line id="CenterUpp3" x1="454.029" y1="25.5" x2="518.029" y2="25.5" stroke="#00BE9C" stroke-width="3"/>
                        <circle id="Circle3" cx="487.033" cy="74" r="58.5" fill="white" fill-opacity="0.47" stroke="#00BE9C" stroke-width="3"/>
                    </g>
                    <defs>
                        <pattern id="pattern2" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_0_3" transform="scale(0.00126422 0.0021322)"/>
                        </pattern>
                        <image id="image0_0_3" data-name="CloudBag-to-phone-transfer.png" width="791" height="469" href="/Images/CloudBag-to-phone-transfer.png"/>
                    </defs>
                </svg>
                <p>Access files stored in CloudBag and Download on any device. CloudBag is like Google Drive or OneDrive but can only be accessed from your network i.e.  your wifi or personal hotspot and files are stored in your PC</p>
            </a>
        </div>
    </div>

</body>
</html>