<!doctype html>
<html lang="en">
<head>
    <title>CloudBag - Almacena esta información</title>
    <link rel="stylesheet" href="./public/css/Admin/AdminDashBoard.css">
    <%- include('../../partials/_header') %>
</head>
<body>
<%- include('../../partials/_navbar') %>
    <main>
        <div id="SelectFromDiv">
            <div id="CrudUsers" class="SelectFrom">
                <a href="/" class="SelectFromLinks">
                    SEND FILES FROM THE SERVER PC TO CloudBag


                    <p>Send Files/Photos from any Device (including Server PC) to the CloudBag. CloudBag is a shared space for all the devices on your local Network. Any device which is logged in with server password can access files saved in CloudBag.</p>
                </a>
            </div>
        </div>
    </main>
</body>
</html>